html, 
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.copyright {
    margin-top: 10px;
}

.copyright a {
    color: darkgray;
}

.copyright a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}